footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #f5f5f5;
}

footer p, footer a {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #7a7a7a;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

footer a:hover {
    color: orange;
    cursor: pointer;
}