.pre {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(163, 163, 163, 0.4);
    backdrop-filter: blur(5px);
}